<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product | Sarthakdev143 | E-Commerce</title>
    <link rel="stylesheet" href="/make-up/style.css">
    <link rel="stylesheet" href="/make-up/Admin/admin-panel.css">
    <link rel="stylesheet" href="/make-up/Admin/products.css">
    <link rel="stylesheet" href="/make-up/littles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
    <main class="container fdc">
        <a class="back active" th:href="@{/admin-panel/products}">
            <span class="icon material-symbols-outlined">
                arrow_back
            </span>
            <span>Back To Product List</span>
        </a>
        <div id="form-parent">
            <h1>Edit Product</h1>
            <form class="form fdc" th:action="@{/admin-panel/updateProduct}" th:object="${productBean}" method="post">
                <input type="text" th:field="*{id}" hidden>
                <input type="text" placeholder="Product Name" th:field="*{name}" required>
                <input type="text" placeholder="Product Price" th:field="*{price}" required>
                <textarea placeholder="Product Description" th:field="*{description}" required></textarea>
                <input type="file" name="image">
                <button type="submit">Update Product</button>
            </form>
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/make-up/Admin/admin.js"></script>
</body>

</html>