<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users | Sarthakdev143 | E-Commerce</title>
    <link rel="stylesheet" href="/make-up/style.css">
    <link rel="stylesheet" href="/make-up/Admin/products.css">
    <link rel="stylesheet" href="/make-up/littles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
    <main class="container fdc">
        <a class="back active" th:href="@{/admin-panel}">
            <span class="icon material-symbols-outlined">
                arrow_back
            </span>
            <span>Back To Admin Panel</span>
        </a>
        <table>
            <thead id="thead">
                <th>Id</th>
                <th>User Name</th>
                <th>User Email</th>
                <th>User Password</th>
                <th>Role(s)</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr id="tr" th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.email}"></td>
                    <td class="password" th:text="${user.password}"></td>
                    <td>
                        <span th:each="role, iterStat : ${user.roles}">
                            <span th:text="${role.name}"></span><span th:unless="${iterStat.last}">, </span>
                        </span>
                    </td>
                    <td class="action">
                        <a class="delete" th:href="@{/admin-panel/deleteUser/{id}(id=${user.id})}">Delete</a>
                        <a class="edit" th:href="@{/admin-panel/editUser/{id}(id=${user.id})}">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div th:if="${#lists.isEmpty(users)}" style="text-align: center;">
            <p style="color: #ffffff8f;">No User Found.</p>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/make-up/Admin/admin.js"></script>
</body>

</html>