nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    z-index: 9000;

    .center {
        gap: 1rem;
        width: fit-content;

        .signup {
            &:hover {
                filter: brightness(0.8);

                .icon {
                    transform: translateY(0.15rem);
                }
            }

            &:active {
                filter: brightness(0.6);
            }
        }

        .search {
            width: 25rem;
            margin-left: 3rem;
        }
    }

    h2 {
        font-weight: 100;
    }

    .mycart {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        font-size: 1.25rem;

        a {
            text-decoration: none;
            color: #C2C7B1;
        }

        .cart {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            font-size: 1.25rem;
        }

        .logup {
            display: flex;
            gap: 0.5rem;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            position: relative;
            align-items: center;
            font-size: 1rem;

            a {
                text-decoration: none;
            }

            .login {
                color: rgb(0, 157, 255);
                font-weight: 400;
            }

            .sign {
                font-size: 0.9rem;
                background: rgb(0, 157, 255);
                color: #fff;
                padding: 0.5rem 0.7rem;
                border-radius: 0.5rem;
            }

            .login:hover,
            .sign:hover {
                filter: brightness(0.85);
            }
        }
    }
}

.container {
    width: 100%;
    height: fit-content;
    position: relative;

    #productList {
        width: 100%;
        height: fit-content;
        /* background: #111; */
        display: grid;
        place-items: center;
        grid-template-columns: repeat(auto-fit, minmax(19.25rem, 1fr));
        gap: 1rem;

        .product {
            width: 19.25rem !important;
            height: 28rem !important;
            /* display: none; */
            padding: 1rem;
            background: #111;
            gap: 1rem;
            cursor: pointer;
            position: relative;

            a {
                width: 100%;
                height: 100%;
            }

            .imgDiv {
                width: 100%;
                height: 60%;
                background: #000;
                object-fit: cover;
                background-position: center;
            }

            .content {
                position: absolute;
                bottom: 1rem;
                left: 1rem;
                padding-right: 1rem;

                h4,
                p {
                    color: #C2C7B1;
                    font-weight: 100;
                }
            }

            &:hover {
                filter: brightness(0.85);
            }
        }
    }
}