main {
    justify-content: space-around;
    max-width: 60% !important;
    /* background: red; */
}

form {
    align-items: center;
    margin-top: 2rem;
    gap: 0.4rem;

    #heading {
        font-weight: 100;
        color: #C2C7B1;
    }

    input {
        max-width: 25rem;
    }
}

.message {
    color: rgb(0, 157, 255);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    background: #000;
    width: 15rem;
    height: 3rem;
    display: grid;
    place-content: center;
    text-decoration: none;
}

.other {
    justify-content: center;
    gap: 0.6rem;
}

.verify-form {
    margin-top: -2rem;
}