.container {
    width: 100%;
    height: fit-content;
    background: #000;
    position: relative;
    padding: 2rem;
    gap: 2rem;

    .imgDiv {
        width: 40%;
        height: 25rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content {
        width: 60%;
    }
}