<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart | Sarthakdev143 | E-Commerce</title>
    <link rel="stylesheet" href="/make-up/style.css">
    <link rel="stylesheet" href="/make-up/User/index.css">
    <link rel="stylesheet" href="/make-up/User/cart.css">
    <link rel="stylesheet" href="/make-up/littles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,100,0,0" />
</head>

<body>
    <div th:replace="~{User/index::navbar}"></div>

    <main class="container flex">
        <section class="left">
            <h1>Your Shopping Cart</h1>
            <hr>
            <div class="cart-item-wrapper fdc">
                <article class="cart-item flex" th:each="cartItem : ${cartItemList}">
                    <div class="left">
                        <figure>
                            <img loading="lazy" th:src="@{/images/{name}(name=${cartItem.product.name})}"
                                alt="Product Image">
                        </figure>
                    </div>
                    <div class="right flex">
                        <div class="part-1">
                            <figcaption>
                                <h2 th:text="${cartItem.product.name}"></h2>
                            </figcaption>
                            <form class="quantity-wrapper" th:action="@{/cart/updateQuantity}" method="post">
                                <input type="hidden" th:value="${cartItem.product.name}" name="cartItemName" />
                                <label for="quantity-${cartItem.product.name}">Quantity :-</label>
                                <input type="number" id="quantity-${cartItem.product.name}"
                                    th:value="${cartItem.quantity}" name="quantity" min="1" max="10" />
                                <button type="submit">Update</button>
                            </form>
                            <form class="delete-button" th:action="@{/cart/remove}" method="post">
                                <input type="hidden" th:value="${cartItem.product.name}" name="cartItemName">
                                <input type="submit" value="Delete">
                            </form>
                        </div>
                        <div class="part-2">
                            <h3 class="price flex">
                                <span>Price : </span>
                                <span th:text="${cartItem.product.price}"></span>
                            </h3>
                            <h3 title="It is The Total Price Of Product With Multiplication With its Quantity"
                                class="subTotal flex">
                                <span>SubTotal
                                    : </span>
                                <span>₹<span
                                        th:text="${@conversionService.convertStringToInt(cartItem.product.price) * cartItem.quantity}"></span></span>
                            </h3>
                        </div>
                    </div>
                </article>
            </div>
            <div th:if="${#lists.isEmpty(cartItemList)}" style="text-align: center;">
                <p style="color: #ffffff8f;">Your Cart is Empty.</p>
            </div>

            <section class="total-price">
                <h2>Total Price : ₹<span th:text="${TotalCartPrice}"></span></h2>

                <a th:href="@{/checkout}" class="checkout btn btn-success">
                    <button>Proceed to Buy</button>
                </a>
            </section>
        </section>

        <section class="right">
            <h2>Total Price : ₹<span th:text="${TotalCartPrice}"></span></h2>

            <a href="@{/checkout}" class="checkout btn btn-success">
                <button>Proceed to Buy</button>
            </a>
        </section>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/make-up/User/user.js"></script>
</body>

</html>