<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page | Sarthakdev143 | E-Commerce</title>
    <link rel="stylesheet" href="/make-up/style.css">
    <link rel="stylesheet" href="/make-up/User/index.css">
    <link rel="stylesheet" href="/make-up/littles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,100,0,0" />
</head>

<body>
    <nav th:fragment="navbar">
        <h2 class="h2 pointer nav-part"><a th:href="@{/}" style="color: #C2C7B1; text-decoration: none;">Company
                Logo</a></h2>
        <div class="center flex">
            <input class="search nav-part" type="search" placeholder="Search...">
        </div>
        <h2 class="h2 mycart nav-part">
            <a th:href="@{/cart}">
                <div class="cart pointer">
                    <span>My Cart</span>
                    <span class="material-symbols-outlined">
                        shopping_cart
                    </span>
                </div>
            </a>
            <div class="logup">
                <a th:href="@{/login}" class="login">Login</a>
                <a th:href="@{/sign-up}" class="sign">Sign Up</a>
            </div>
        </h2>
    </nav>

    <main class="container">
        <div id="productList">
            <div th:if="${#lists.isEmpty(products)}" style="text-align: center;">
                <p style="color: #ffffff8f;">No Products Found.</p>
            </div>
            <div loading="lazy" class="product fdc pointer" th:each="product : ${products}">
                <a target="_blank" th:href="@{/viewProduct/{name}(name=${product.name})}">
                    <div class="imgDiv">
                        <img loading="lazy" class="image" th:src="@{/images/{name}(name=${product.name})}" alt="Product Image">
                    </div>
                    <div loading="lazy" class="content">
                        <h4 class="pro-name" th:text="${product.name}"></h4>
                        <p class="description">
                            <span class="text-content" th:text="${product.description}"></span>
                        </p>
                        <h4 class="price" th:text="${product.price}"></h4>
                    </div>
                </a>
            </div>
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/make-up/User/user.js"></script>
</body>

</html>